* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    color: white;
}

header {
    padding: 1rem 1.25rem;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    top: 0;
}

.page {
    position: relative;
}

.page-height {
    min-height: 300vh;
    height: 3000px;
}

.page-bg {
    background: linear-gradient(20deg, #064466, #440349);
}

.peek-a-header-sticky {
    position: sticky;
}

.peek-a-header-fixed {
    position: fixed;
    left: 0;
    right: 0;
}

.w-1\/2 {
    width: 50%;
}

.left-1\/2 {
    left: 50%;
}
